In [69]:
from utilities import users
from utilities.helper import build_query, spending_query
%reload_ext autoreload
%autoreload 2
# cal = calculations.calculator('budgeting.db', 'transactions.db')
# print(cal.total(categories="school", type="budget"))
# print(cal.total(categories="food", type="budget"))
# print(cal.total(years = 2023))
# print(cal.total(months = 11))
# print(cal.total(categories = ["shopping", "food"]))
# print(cal.total(type="budget"))
# print(cal.total(categories="food", months=11, years=2023))

# print(cal.remaining_budget(categories="shopping"))
# print(cal.remaining_budget())

# print(cal.average(categories="food"))
# print(cal.average(months=11))
# print(cal.average(type="budget"))

# print(cal.highest_spending())
# print(cal.highest_spending(calculate_category=False))
# print(cal.lowest_spending())
# print(cal.lowest_spending(calculate_category=False))
user = users.User(budget = 'budgeting.db', transactions = "transactions.db")
print(user.total(categories = "food"))
print(user.total())
print(user.total(type="budget"))
print(user.total(type="budget", categories="food"))
print(user.total(type="budget", years=2023))

print(user.remaining_budget())
print(user.remaining_budget(categories="food", month=11))
print(user.remaining_budget(categories="food"))

print(user.average(categories="food"))
print(user.average(months=11))
print(user.average(type="budget", months=11))
print(user.average(type="budget", years=2023))

user.highest_spending()
user.highest_spending(False)
user.lowest_spending()
user.lowest_spending(False)

50
80
400
200
400
320
185
150
12.5
22.5
133.33333333333334
133.33333333333334
Highest spending category is food: 50.00
near "(": syntax error
Lowest spending category is shopping: 30.00
near "(": syntax error

'No data found.'

In [51]:
import os
import sqlite3

categories = ['food']
month = 11
year = 2023

# Connect to the SQLite database
connection_budget = sqlite3.connect('budgeting.db')
connection_transactions = sqlite3.connect('transactions.db')
# Create a cursor object to interact with the database
cursor_bg = connection_budget.cursor()
cursor_ts = connection_transactions.cursor()
# Execute a query to fetch table names
cursor_bg.execute("SELECT * FROM budget;")
# query = f"SELECT SUM(amount) FROM transactions WHERE category IN ({', '.join('?' for _ in categories)}) AND strftime('%m', trans_date) = ? AND strftime('%Y', trans_date) = ?"
# cursor_ts.execute(query, categories + [str(month).zfill(2), str(year)])
# cursor_ts.execute("SELECT category, SUM(amount) FROM transactions GROUP BY category ORDER BY SUM(amount) DESC;")
cursor_ts.execute("SELECT * FROM transactions;")
# Fetch all the table names from the result set
rows_bg = cursor_bg.fetchall()
rows_ts = cursor_ts.fetchall()
# Print the table names
# total_budget = cursor_bg.fetchone()[0]
# print(total_budget)
for row in rows_bg:
    print(row)
for row in rows_ts:
    print(row)
# total_spending = cursor_ts.fetchone()[0]
# print(total_spending)
# Close the cursor and the connection
cursor_bg.close()
cursor_ts.close()
connection_budget.close()
connection_transactions.close()

('food', 11, 2023, 200)
('school', 11, 2023, 100)
('shopping', 11, 2023, 100)
(2, '2023-11-28', 'dinner', 'food', 15)
(3, '2023-11-28', 'shirt', 'shopping', 30)
(4, '2023-12-01', 'lunch', 'food', 10)
(5, '2023-12-01', 'lunch', 'food', 11)
(6, '2023-12-01', 'lunch', 'food', 14)